body, html {
  background: #ccc;
}

header {
  background: rgba(97, 97, 97, 0.3);
}

.sideBar a{
  color: black;
}

.firstContainer {
  background-color: #8c5240;
}

.myProjectsContainer {
  background-color: #2d2a2e;
  color: white;
}

.myAchievementsContainer{
  background-color: #780c1d;
}

.thirdContainer {
  background-color: #174768;
}