body, html {
  background: #ccc;
}

.firstContainer {
  background-color: #571a03;
}

.myProjectsContainer {
  background-color: #2d2a2e;
  color: white;
}

.myAchievementsContainer{
  background-color: #e91848;
}

.thirdContainer {
  background-color: #4891d9;
}