body, html {
  background: white;
}

header {
  background: #FFFFFF;
}

.sideBar a {
  color: black;
}

.sideBar h1 {
  color: black;
}


.firstContainer {
  background-color: #fcd1c0;
}

.firstContainer h1{
  color: black;
}

.myProjectsContainer {
  background-color: #FFFFFF;
}

.project {
  border: 1px solid #ececec;
  box-shadow: 10px 5px 5px #6f6f6f;
}

.myProjectsContainer .isAbsentImage {
  background: url("../img/IsAbsentLight.svg") no-repeat;
  background-size: cover;
  height: 10rem;
  width: 10rem;
}

.myProjectsContainer .randomAllImage {
  background: url("../img/RandomAllLight.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.myAchievementsContainer {
  background-color: #e91848;
}

.thirdContainer {
  background-color: #4891d9;
}