body, html {
  background: white;
}

.firstContainer {
  background-color: #fcd1c0;
}

.myProjectsContainer {
  background-color: #FFFFFF;
}

.myAchievementsContainer {
  background-color: #e91848;
}

.thirdContainer {
  background-color: #4891d9;
}