body, html {
  background: white;
}

header {
  background: #FFFFFF;
}

.sideBar a{
  color: black;
}

.firstContainer {
  background-color: #fcd1c0;
}

.firstContainer h1{
  color: black;
}

.myProjectsContainer {
  background-color: #FFFFFF;
}

.myAchievementsContainer {
  background-color: #e91848;
}

.thirdContainer {
  background-color: #4891d9;
}