body, html {
  background: #ccc;
}

header {
  background: #2d2a2e;
}

/*Navbar*/
.navBar a{
  color: white;
}

.navBar h1{
  color: white;
}

/*Burger menu button*/
.bar1, .bar2, .bar3 {
  background-color: white;
}

/*Sidebar*/
.sideBar{
  background: #535253;
}

.sideBar li, a{
  color: #929191;
}

.sideBar li:hover {
  background-color: #747373;
}

/*First section*/
.firstContainer {
  background-color: #863b3b;
}

/*Second section*/
.myProjectsContainer {
  background-color: #2d2a2e;
  color: white;
}

.project {
  border-radius: 10px;
}

.myProjectsContainer .isAbsentImage {
  background: url("../img/IsAbsentDark.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* .myProjectsContainer .randomAllImage {
  background: url("../img/RandomAllDark.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
} */

.myProjectsContainer .webeyeImage {
  background: url("../img/WebeyeDark.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.myAchievementsContainer{
  background-color: #780c1d;
}

.myAchievementsContainer details {
  background: #2d2a2e;
  color: white;
}

.myAchievementsContainer details a{
  color: white;
}

.myAchievementsContainer details ul {
  background: #6c6a6a;
  color: white;
}

/*Third section*/
.thirdContainer {
  background-color: #174768;
  color: #fdc5c9;
}

.thirdContainer a{
  color: #fdc5c9;
}

/*Switch toggle*/
.switch_content {
  background-color: #535253;
}