body, html {
  background: #ccc;
}

header {
  background: #2d2a2e;
}

.navBar a{
  color: white;
}

.navBar h1{
  color: white;
}

.bar1, .bar2, .bar3 {
  background-color: white;
}

.firstContainer {
  background-color: #8c5240;
}

.myProjectsContainer {
  background-color: #2d2a2e;
  color: white;
}

.project {
  border: 1px solid #7f7878;
  border-radius: 10px;
}

.myProjectsContainer .isAbsentImage {
  background: url("../img/IsAbsentDark.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.myProjectsContainer .randomAllImage {
  background: url("../img/RandomAllDark.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.myAchievementsContainer{
  background-color: #780c1d;
}

.myAchievementsContainer details {
  background: #2d2a2e;
  color: white;
}

.myAchievementsContainer details a{
  color: white;
}

.myAchievementsContainer details ul {
  background: #6c6a6a;
  color: white;
}

.thirdContainer {
  background-color: #174768;
}

.switch_content {
  background-color: #535253;
}