<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/light.css" id="link_theme">
<body>
    <header>
        <nav class="sideBar">
            <h1 class="logo">Portfolio</h1>
            <ul class="menu">
                <li><a href="">About</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <ul class="social">
                <li><a href="https://github.com/Deformater">GitHub</a></li>
                <li><a href="https://t.me/SvinoBuddist">Telegram</a></li>
                <li><a href="https://vk.com/svino_buddist">VK</a></li>
            </ul>
        </nav>
    </header>

    <div class="firstContainer">
        <div>
          <h1>Muravenko Grigoriy</h1>
          <p>
              My site-portfolio
          </p>
        </div>
    </div>

    <div class="secondContainer">
        <div class="myProjectsContainer">
            <div class="projects">
                <div class="project">
                    <a href="https://github.com/IgorDuino/isabsent_api">
                        <div class="isAbsentImage">
                            <div class="bigTextContainer">IsAbsent<br>API&BOT</div>
                        </div>
                    </a>
                </div>
                <div class="project">
                    <a href="https://github.com/Deformater/all_random">
                        <div class="randomAllImage">
                          <div class="bigTextContainer">RandomAll</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="myAchievementsContainer">
            Achievements
        </div>
    </div>

    <div class="thirdContainer">
        <span>about me</span>
    </div>

    <div class="switch">
        <div class="switch_content">
            <div class="switch_circle"></div>
        </div>
    </div>

<script src="../static/js/main.js"></script>
</body>
</html>