<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/light.css" id="link_theme">
<body>
  <div class="firstContainer">
      <div>
          <h1>Муравенко Григорий</h1>
          <p>
              Жизнь театр, а люди в нём актёры<br>
              Я как программист хочу создать онлайн театр,<br>
              в котором пользователю будет просто играть
          </p>
      </div>
  </div>
  <div class="secondContainer">
      <div class="myProjectsContainer">
          <p>Projects</p>
      </div>
      <div class="myAchievementsContainer">
        Achievements
      </div>
  </div>
  <div class="thirdContainer">
      <p>about me</p>
  </div>
  <div class="switch">
    <div class="switch_content">
      <div class="switch_circle"></div>
    </div>
  </div>
<script src="../static/js/main.js"></script>
</body>
</html>