<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/light.css" id="theme">
    <title>Portfolio</title>
</head>
<body class="">
<!--    <img src="static/mavrody.jpg" alt="My photo">-->
    <div id="header">
        <h1>Моя личная страничка</h1>
    </div>
    <div id="text_div">
        <p>Муравенко Григорий Павлович<br>
        Мне 16 лет, я живу в Москва<br>
        Я занимаюсь программированием на python<br>
        <a href="https://github.com/Deformater">GitHub</a></p>
    </div>
    <label class="switch" id="themeSwitch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
<script src="../static/js/main.js"></script>
</body>
</html>
